<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Reseptiarkisto</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Reseptiarkisto</h1>

        <p>
            Hae tästä arkistosta löytyvät annokset!
        </p>

        <ul>
            <li th:each="annosAinesosa : ${lista}">
                <span th:text="${annosAinesosa.id}">id</span>
                <span th:text="${annosAinesosa.nimi}">nimi</span>
                
                <form method="POST" th:action="@{~/ainesosat/{annosID}(annosID=${annos.id})}">><input type="submit" value="Näytä"/>
                </form>
                <form method="POST" th:action="@{~/delete/{annosID}(annosID=${annos.id})}">><input type="submit" value="Poista"/>
                </form>
            </li>
        </ul>

        <ul>
            <li>
                <a href="@{~/)">Smoothielistaukseen</a>
            </li>
        </ul>

        
    </body>

</html>
