<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Reseptiarkisto</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Ainekset</h1>
        
        <h2 th:text="${annos.nimi}">Annos</h2>

        <ul>
            <li th:each="annosAinesosa : ${ainekset}">
                <span th:text="${annosAinesosa.toString}">toString</span>
                
            </li>
        </ul>
        
        <form method="POST" th:action="@{~/delete/{annosID}(annosID=${annos.id})}">><input type="submit" value="Poista"/>
        </form>

        <ul>
            <li>
                <a href="{https://glacial-oasis-59643.herokuapp.com/annokset)">Takaisin annoslistaan</a>
            </li>
        </ul>

        
    </body>

</html>
