<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Reseptiarkisto</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Reseptiarkisto</h1>
        
        <p>
            Hae tästä arkistosta löytyvät annokset!
        </p>

        <ul>
            <li th:each="annos : ${annokset}">
                <span th:text="${annos.id}">id</span>
                <span th:text="${annos.nimi}">nimi</span><form method="POST" th:action="@{~/ainesosat/{annosID}(annosID=${annos.id})}">><input type="submit" value="Näytä"/>
                </form>
            </li>
        </ul>

        <form method="POST" action="/search">
            <input type="text" name="annos"/>
            <input type="submit" value="Hae resepti"/>
        </form>      

        <form method="POST" action="/lisaa">
            <input type="text" name="annos"/><br/>
            <input type="submit" value="Lisää resepti"/>
        </form>  

        
    </body>

</html>
