<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Huonekalut</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Huonekalut</h1>

        <p>
            Huonekalut nuo hienoja ovat, voi veljet, onpa ne somat.
        </p>

        <ul>
            <li th:each="arvo : ${lista}">
                <span th:text="${arvo.id}">id</span>
                <span th:text="${arvo.nimi}">nimi</span>

                <form th:action="@{~)/delete/{arvoID}(arvoID=${arvo.id})}" method="POST">><input type="submit" value="Poista"/>
                </form>
            </li>
        </ul>

        <form method="POST" action="/add">
            <input type="text" name="huonekalu"/>
            <input type="submit"/>
        </form>
        
        
    </body>

</html>
